<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Text Mining Autonomous Vehicle</title>


<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome/css/font-awesome.css') }}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='css/style.css') }}">
<!--<link rel="stylesheet" type="text/css"  href="css/style.css">-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/prettyPhoto.css') }}">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static',filename='js/modernizr.custom.js') }}"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-car"></i> Autonomous Vehicle</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#page-top" class="page-scroll"></a></li>
        <li><a href="/" class="page-scroll">Organisation</a></li>
        <li><a href="/NomenVerben#nomen" class="page-scroll">Nomen</a></li>
        <li><a href="/NomenVerben#verben" class="page-scroll">Verben</a></li>
        <li><a href="/tdm#tdm" class="page-scroll">Term-Dokumentenmatrix</a></li>
        <li><a href="/da" class="page-scroll">Dokumentenähnlichkeit</a></li>
        <li><a href="/fazit" class="page-scroll">Fazit</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- Header -->
<header id="header">
  <div class="intro text-center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Text Mining:<span class="brand">Autonomous Vehicle</span></h1>
            <!--<p>Johannes Peretzke, Marc Haß, Marcel Boeckmann, Lisa-Marie Beierstedt, Dennis Ahrens</p>-->
            <p>Fachhochschule Flensburg</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- orgas Section -->
<div id="fazit">
  <div class="container">
    <div class="col-md-12 ection-title text-center">
      <h2>Fazit</h2>
      <p>Zusammenfassend lässt sich sagen, dass die Patente der Top 20 Unternehmen alle sehr ähnlich sind und diese Unternehmen sich mit der gleichen Problemstellungen befassen. Die Erkennung und Identifikation von Dingen und dem Abgleich von bekannten Strukturen. Dies wurde bereits in der Auswertung der Verben deutlich. </p>
      <h4>Google</h4>
      <p>Google übernimmt hier klar die Rolle des Vorreiter welcher die AV Sparte bereits ausgegliedert hat Diese Sparte unter dem Namen Waymo LLC hat bereits die ersten eigenen Fahrzeuge in Betrieb.
      Die Unternehmenspläne zeigen, dass Sie langfristig eine Marktreife von führerlosen Taxis anstreben.</p>
      <h4>Waymo LLC & Uber</h4>
      <p>
      Interessant ist ebenfalls im Hinblick auf die Dokumentenähnlichkeit, das Waymo LLC Uber verklagt hat. Google wiederrum besitzt große Anteile an Uber. Uber hat Otto übernommen dessen Gründer ein ehemaliger Angestellter von Waymo ist.
      Als Abschluss lässt sich sagen, dass der Markt um die eingereichten Patente sehr umkämpft ist und von Unternehmen diverser Sparten bearbeitet wird.</p>


</p>
	  </p>
    </div>
  </div>

  </div>
</div>




<!-- Team Section -->
<div id="team" class="text-center">
  <div class="container">
    <div class="col-md-12 col-md-offset-1 section-title">
      <h2>Gruppenvorstellung</h2>
      <p>Die Gruppe Autonomous Vehicle besteht aus den folgenden 5 Mitglieder.</p>
    </div>

    <div id="row col-md-12">
      <div class="col-md-2 col-sm-4 team col-md-offset-1">
        <div class="thumbnail"> <img src="{{ url_for('static',filename='img/team/01.png') }}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Lisa-Marie Beierstedt</h3>
            <p>Frauenquote</p>
          </div>
        </div>
      </div>
       <div class="col-md-2 col-sm-4 team">
        <div class="thumbnail"> <img src="{{ url_for('static',filename='img/team/02.png') }}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Dennis Ahrens</h3>
            <p>Bierträger</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 team">
        <div class="thumbnail"> <img src="{{ url_for('static',filename='img/team/05.png') }}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Johannes Peretzke</h3>
            <p>Schlechte Witze</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 team">
        <div class="thumbnail"> <img src="{{ url_for('static',filename='img/team/04.png') }}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Marc Haß      </h3>
            <p>Mehr Zeit am Strand als in der Uni</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 team">
        <div class="thumbnail"> <img src="{{ url_for('static',filename='img/team/03.png') }}" alt="..." class="img-circle team-img">
          <div class="caption">
            <h3>Marcel Boeckmann</h3>
            <p>Erhöht das Durchschnittsalter um 4 Jahre</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
    </div>
  </div>
</div>                          
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.1.11.1.js')  }}" ></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js') }}"   ></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/SmoothScroll.js') }}"  ></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.prettyPhoto.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.isotope.js') }}" ></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/jqBootstrapValidation.js')}}"></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/contact_me.js') }}" ></script> 
<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>